@import '../../../App.css';


.menuOptions {
    background-color: var(--col2)!important;
    margin: 5%;
    color: var(--col7) !important;
    border: 5px ridge var(--col1)  ;
}
.adminMenu {
    
}

.menuAdmin-paper-block {
    background: var(--col8)!important;
    
    color: var(--col7) !important;
}