#login {
    background-color: #004c4c;
     display: grid;
  place-content: center;
  height: 100%;
}

#loginLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}

.loginField {
    background-color: white;
    width: auto;
}

#fieldBox {
    background-color: #990000;
    margin: 100px;
    width: 450px;
    height: 300px;
    border: 3px double #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#adminTitle {
    margin-bottom: 20px;
    padding: 10px;
  background-color: #004c4c;
  border: 3px double #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  color: #ffffff;
}
