.in-stock {
    background-color: #d0f0c0;
    color: #2e7d32;
}

.out-of-stock {
    background-color: #f0c0c0;
    color: #c62828;
}

.inStock {
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    transition: transform 0.2s;
    border: 10px solid var(--col5);
}

.orderOnlinePageMenu {
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    transition: "transform 0.2s";
}
.outOfStock {
    
    border: 10px solid var(--col2);
}

.plsRegister:hover {
    background: var(--col8);
}
.plsRegister {
    margin-bottom: 2px;
    background: var(--col9);
    color: var(--col7);
    font-weight: bold;
    font-size: 1rem;
}